// font imports
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');


// global font variables
$theme_font: 'Major Mono Display', sans-serif;

// global color themes
$color_change: rgb(100, 150, 220);
$color_base_grey: rgb(120, 120, 140);

