// font imports
@import url('https://fonts.googleapis.com/css?family=Raleway');


// global font variables
$theme_font: 'Raleway', sans-serif;

// global color themes
$color_change: rgb(100, 150, 220);
$color_base_grey: rgb(120, 120, 140);


