@import './base';
@import './components/Header';
@import './components/Footer';
@import './components/LeftSider';
@import './components/RightSider';
@import './components/_MenuSlider';
@import './components/AboutPage';

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// global classes

.width-100 {
    width: 100%;
}

.center-div {
    display: flex;
    position: fixed;
    width: 65%;
    height: 65%;
    margin: auto;
    top: 45%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}

@media screen and (max-width: 1000px){
    .center-div {
        width: 80%;
        height: 80%;
    }
}