.side-menu { /* Full screen nav menu */
    width: 240px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed; 
    box-sizing: border-box;
    display: block;
    background: #f1f1f1;
    overflow-y: scroll;
  
    -ms-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -webkit-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
  
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0px,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0px,0,0);
    padding: 20px;
    height: 100%;
}
nav > h3 {
    margin: 0;
    padding: 0;
    text-align: left;
    color: rgb(52, 56, 60);
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 18px;
    
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Montserrat', sans-serif;
}
nav > ul {
    padding: 0;
    margin: 0 0 25px;    
}
nav > ul > li {
    text-align: left;
    list-style: none;
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav > ul > li >  a {
      text-decoration: none;
      font-size: 15px;
      color: rgb(82, 86, 90);
      line-height: 40px;
      font-family: 'Montserrat', sans-serif;
}

nav > ul > li >  a:hover{
    color: rgb(100, 110, 185);
}

nav > ul > li >  a:hover::before{
    content: "";
    position: absolute;
    background: rgb(100, 110, 185);
    width: 4px;
    height: 28px;
    display: block;
    left: -20px;
    margin-top: 6px;
}

.home_img{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    padding-top: 20;
    padding-bottom: 50px;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

.home_img:hover{
    transform: rotate(-45deg);
    cursor: pointer;
}

#menu_icon{
    position: fixed;
    display: none;
    height: 30px;
    width: 30px;
    margin: 0px;
    left: 10px;
    top: 10px;
    z-index: 1000;
}



.notes-section{
    margin-top: 70px;
    margin-left: 260px;
    -webkit-transition-duration: 1.5s; /* Safari */
    transition-duration: 1.5s;
    padding-left: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
}

@media screen and (max-width: 800px){
    .notes-section{
        margin-left: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

div > h1, h2, h3, h4, h5, h6, p{
    font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5, h6{
    padding-top: 20px;
    margin-bottom: 0px;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 30px;
}


code{
    background-color: rgb(235, 235, 250);
    width: 93%;
    border-radius: 5px;
    padding: 15px;
    display: block;
    font-size: 20px;
}

p{
    font-size: 20px;
}


