@import '../base';


.Footer{
    position: fixed;
    bottom: 0px;    
}

.Footer_icon {
    height: 20px;
    margin: 15px;
    max-height: 50px;
    opacity: 0.4;
    margin-bottom: 5px;
}

.Footer_icon:hover {
    opacity: 0.8;
    cursor: pointer;
}


.Footer_icon_container {
    display: table;
    margin: auto;
}

.Footer_logo_text{
    font-family: $theme_font;
    color: $color_base_grey;
    text-align: center;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}


@media screen and (min-width: 2000px){
    .Footer_icon{
        height: 30px;
        margin: 20px;
        margin-bottom: 10px;
    }
    .Footer_logo_text {
        font-size: 15px;
    }
}

@media screen and (max-height: 600px) {
    .Footer_logo_text {
        display: none;
    }
}
