@import '../base';

.Header{
    color: $color_change;
    position: fixed;
    width: 100%;
    display: flex;

}

.Header_logo_container {
    position: fixed;
    height: 60px;
    width: 60px;
    right: 0px;
    margin: 50px 80px;
}


.Header_logo {
    fill: $color_change;
    height: 100%;
    width: 100%;
    transition-duration: 1s;
}

.Header_logo:hover {
    cursor: pointer;
    display: inline-block;
    transform: rotate(-45deg);
}