@import '../base';

.LeftSider_nav_square {
    height: 5px;
    width: 5px;
    background: $color_base_grey;
    margin: 23px 30px;
    transform: rotate(45deg);
    transition-duration: 0.5s;
}

.LeftSider_nav_square:hover {
    cursor: pointer;
    border: 5px solid $color_change;
    background: white;
    height: 4px;
    width: 4px;
    transform: translateX(-4px);
}

.LeftSider{
    display: block;
    position: fixed;
    top: 49%;
    left: 50px;
    transform: translateY(-50%);
}

.selected > .LeftSider_nav_square {
    border: 5px solid $color_change;
    background: white;
    transform: translateX(-5px) rotate(-45deg);
}

@media screen and (min-width: 2000px){
    .LeftSider_nav_square{
        height: 8px;
        width: 8px;
    }
}

@media screen and (max-width: 1000px){
    .LeftSider {
        display: none;
    }
}

@media screen and (max-height: 700px){
    .LeftSider{
        display: none;
    }
}