@import '../base';

.RightSider{
    width: 0;
    word-wrap: break-word;
    position: fixed;
    color: $color_change;
    font-family: $theme_font;
    right: 0px;
    top: 50%;
    margin-right: 100px;
    font-size: 25px;
    transform: translateY(-50%);
}


@media screen and (min-width: 2000px){
    .RightSider{
        font-size: 35px;
    }
}

@media screen and (max-width: 1050px){
    .RightSider {
        display: none;
    }
}

@media screen and (max-height: 700px){
    .RightSider{
        display: none;
    }
}