@import '../base';

.RightSider{
    display: inline-block;
    position: fixed;
    margin: 0px;
    font-size: 20px;
    font-family: $theme_font;
    letter-spacing: 5px;
    top: 48%;
    left: 0px;
    color: $color_change;
    transform: rotate(-90deg) translateY(-50%);
}